<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>서브1-1</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description">
<meta name="author" content="작업자1">
@@include('header.html')
</head>
<body>
<div class="wrap">
    <div class="top">
        <h1>서브1-1 입니다...</h1>
        <ul>
            <% eachTest.forEach((name)=>{ %>
            <li>데이터를 바꿔도 gulp 재기동 no 필요 valu=<%= name.value %></li>
            <% }); %>
        </ul>
    </div>
</div>
</body>
</html>
